<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <link href="./stylesheets/main.css" rel="stylesheet" type="text/css">

    <script src="vendor/electron_boilerplate/env_config.js"></script>
    <script src="vendor/electron_boilerplate/context_menu.js"></script>
    <script src="vendor/electron_boilerplate/external_links.js"></script>

    <script src="app.js"></script>
</head>
<body>
  <div class="top-bar">
    <h1>Path of Maps</h1>
  </div>

  <div data-settings-form></div>

  <h2>Log monitoring</h2>
  <ul id="logs" data-logs="base">
    <li>Nothing logged yet.</li>
  </ul>

  <script type="text/template" id="settings-form-template">
    <form>
      <input type="text" name="token" value="<%= token %>">

      <textarea><%= characters %></textarea>

      <input type="submit" value="Save">
    </form>
  </script>
</body>
</html>
